{% extends 'blogs/base.html'%}
{% load static %}

{% block content %}
<title>Enter Reality</title>
<div class="container">
    <body>
        <br>
        <h1 class="text-center">Enter Reality</h1>
        <hr>
        <blockquote class="blockquote text-center">
            <p class="mb-0">The best way to get control of the garbage problem is to not make so much of it – we all need to reduce the amount of stuff we throw away.</p>
            <footer class="blockquote-footer">Bill Nye</footer>
        </blockquote>
        <hr>
        <br>
        <div class="d-flex flex-row">
            <div class="d-flex flex-column-3">
                <p class="fs-1">I'm baby chartreuse YOLO gastropub polaroid chicharrones farm-to-table pinterest XOXO fam fashion axe master
                     cleanse flannel helvetica four dollar toast hoodie. Yr fixie fanny pack chicharrones bitters literally disrupt
                      woke la croix vegan kinfolk. Lyft hexagon thundercats kombucha tumeric keytar distillery glossier next level
                       readymade neutra you probably haven't heard of them. Mustache tousled truffaut post-ironic, typewriter green
                        juice coloring book chia ugh ethical.
                </p>
            </div>
        </div>
        
    </body>
</div>
{% endblock content%}