{% extends 'blogs/base.html'%}
{% load static %}

{% block content %}
<title>RecycPal</title>
<div class="container">
    <body>
        <br>
        <h1 class="text-center">RecycPal</h1>
        <hr>
        <blockquote class="blockquote text-center">
            <p class="mb-0">The best way to get control of the garbage problem is to not make so much of it – we all need to reduce the amount of stuff we throw away.</p>
            <footer class="blockquote-footer">Bill Nye</footer>
        </blockquote>
        <hr>
        <br>


        <div>
    
            <h4>Humble Beginnings</h4>
            <hr>

            <p>
                RecycPal started as a hackathon project for the DeltaHacks 8, and is slowly evolving from a personal project into a 
                real commercial AIaaS (Artificial Intelligence as a Service).
            </p>

            
        </div>
        <div class="col-md-6 pl-3">
            <img src="{% static '/images/rp-nd.png'%}" class="rounded float-left" width="260" height="562">
            <img src="{% static '/images/rp-pd.png'%}" class="rounded float-right" width="260" height="562">
        </div>
        
    </body>
</div>
{% endblock content%}