{% extends 'blogs/base.html'%}
{% load static %}

{% block content %}
<body>
    <title>Justin Esguerra</title>
    <link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
    <br>
    
    <div class="container">
        <div class="d-flex flex-row">
            <div class="d-flex flex-column-4 pr-3">
                <div class="card card-body shadow p-3 mb-5 bg-white-rounded h-100 border-success" id="profile-wrapper">
                    <br>
                    <img id="profile-pic"  class="shadow" src="{% static 'images/face1.jpg' %}">
                    <br>
                    <hr>
                    <br>
                    <h4><strong>Hey there, I'm Justin!</strong></h4>
					<p>I love to program cool/fun stuff and I also like to help people :)</p>                    
                </div>
            </div>

            <div class="d-flex flex-column-9 pl-3">
                <div class="card card-body shadow p-3 mb-5 bg-white-rounded h-100 border-success">
                    <h4>Who's Justin?</h4>
                    <hr>
                    <p>
						I'm just a guy, who loves to program, problem solve, and help people. I've been tinkering with computers since I was 5, and built my first PC at 8! I bounced from the med-school track, to physician assistant, mechanical engineering, material science &amp; engineering, BACK to Biology, and finally found out software engineering was my thing!
                    </p>
					<p>
						With a heavy conscience I dropped out of the University of Central Florida in October 2021 and began teaching myself how to program after long hours working in the pharmacy. A lot of the stuff I made was small and largely unimpressive to an enterprise or seasoned developer, but it was mine and I was proud of it. For 8 months, I put in the hours after work hoping one day I could land a job that would give me a chance to prove myself. 
					</p>
					<p>
						My mentor and manager at the time, Señor Fernando, kept my spirits high and pushed to keep going despite my faith in myself waning. He always told me "You're one step closer to a yes, son!" and "Small progress is progress, no matter what anyone says." I owe a lot to him and my friends that believed in me when I didn't believe in myself.
					</p>
					<p>
						In May 2022, I got my shot, the Founder &amp; CEO of Captivea, Sebastian Riss, gave me a chance to prove myself and I took it; this was the best 25th birthday present I could have wished for! I've been working at Captivea since then and it's been an exciting rollercoaster of a ride. I've learned so much, met so many amazing people, and as my time with Captivea comes to a close, I'm excited to see what the next part of my life has to show me.
					</p>
                    <br>
					<h4>Skills</h4>
					<div class="row" >
						<img style="width:75px;height:75px;" src="{% static 'images/git_icon.png' %}"/>
						<img style="width:75px;height:75px;" src="{% static 'images/docker_icon.png' %}"/>
						<img style="width:75px;height:75px;" src="{% static 'images/postgres_icon.png' %}"/>
						<img style="width:75px;height:75px;" src="{% static 'images/python_icon.png' %}"/>
						<img style="width:75px;height:75px;" src="{% static 'images/neovim_icon.png' %}"/>
						<img style="width:75px;height:75px;" src="{% static 'images/js_icon.png' %}"/>
						<img style="width:75px;height:75px;" src="{% static 'images/html_icon.png' %}"/>
						<img style="width:75px;height:75px;" src="{% static 'images/css_icon.png' %}"/>
					</div>
					<hr>

                    <ul class="social-links">
                        <a href="https://www.linkedin.com/in/justin-kieran-esguerra/">
                        <li><img class="social" src="{% static 'images/linkedin.jpg' %}"</li>
                        </a>
                        <a href="https://github.com/captivea-jeu">
                        <li><img class="social" src="{% static 'images/Github.jpeg' %}"</li>
                        </a>
                        <a href="https://www.youtube.com/channel/UCnKYLCq2DxxRLo6fjWJVQlg">
                        <li><img class="social" src="{% static 'images/youtube.jpg' %}"</li>
                        </a>
                        <a href="https://github.com/resilliance">
                        <li><img class="social" src="{% static 'images/Github.jpeg' %}"</li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="d-flex flex-row">
            <div class="d-flex flex-column-6 pr-3">
                <div class="card card-body shadow p-3 mb-5 bg-white-rounded border-info h-100">
                    <style>
                        .grow { transition: all .2s ease-in-out; }
                        .grow:hover { transform: scale(1.1); }
                    </style>
					<h4>Experience/Projects</h4>
                    <hr>
                    <a class="btn grow shadow" style="background-color: #FF6961; color: #FFFFFF" href="{% url 'recycpal'%}" role="button">Domain Force (Technical Articles/Courses)</a>
					<br>
                    <a class="btn btn-success grow shadow" href="{% url 'recycpal'%}" role="button">RecycPal (AI Recycling App)</a>
                    <br>
                    <a class="btn btn-secondary grow shadow" href="{% url 'pharmeasy'%}" role="button">PharmEasy (Pharmacy System Software)</a>
                    <br>
                    <a class="btn btn-primary grow shadow" href="{% url 'valleyball'%}" role="button">Volleyball Counter</a>
                    <br>
                    <a class="btn btn-info grow shadow" href="{% url 'soildrencher'%}" role="button">Soil Drencher (Automated Plant Watering)</a>
                </div>
            </div>

            <div class="d-flex flex-column-6 pl-3">
                <div class="card card-body shadow p-3 mb-5 bg-white-rounded border-warning h-100">
					<h4>Cool stuff I've done</h4> 
                    <hr>
						<blockquote>Although these may not be the most <i>spectacular</i> nor <i>complete</i> projects/feats, they are the ones that I'm most proud of.</blockquote>
					<p>
						- Made a website, called <a href="https://domain-force.com/">Domain Force</a>, that teaches developers/engineers from any level technical topics that are prevalent in industry.
					</p>
					<p>
						- Managed to create a module/script that remapped a whole data table of 100,000+ records in Odoo, an ERP system, in under 5 minutes. This was a time in my career where I didn't know SQL and I had to learn it in order to complete the task.
					</p>
					<p>
						- I made RecycPal's AI model, RecycPal is an object detection AI application that's designed to identify trash/recyclable materials, was a huge feat for me, I had no idea what I was doing and I still managed to figure out how to use PyTorch w/ React and PyTorch with Kivy, a python mobile app framework, to create a working prototype. I also taught myself how to program in Kotlin and Swift to create the mobile app versions of RecycPal.
					</p>
					<p>
						- Learned how to make a backend server with FastAPI and a mobile frontend with Kotlin (Android) in under a week, without any tutorials or help. Just documentation and a dream.
					</p>
					<p>
						- For a Captivea aerospace project/client, with the guidance of my Business Analyst and Project Manager I created a full-fledged Product Lifecycle Management system in Odoo in under 6 months. This was a huge feat for me, as it was my first project to be acting as 'lead' developer.
					</p>
					<p>
						- I learned Neovim!!! I know it's not a big deal, but it made my job so much more fun and it reminds me of the days when I was in highschool playing Starcraft II with my older brother.  
					</p>
                </div>
            </div>

        </div>
        <br>
        <div class="d-flex flex-row">
            <div class="d-flex flex-column-6 pr-3">
                <div class="card card-body shadow p-3 mb-5 bg-white-rounded border-danger h-100">
                    <h4>What am I currently working on?</h4>
                    <hr>
					<p>
						Currently trying to build my stamina and mental fortitude to run a half-marathon, and hopefully a full marathon by the end of 2024!
					</p>
					<p>
						Program-wise I'm really pushing to learn more Kotlin, Swift, and C++/C# to be able to make mobile application and games. 
					</p>
                </div>
            </div>

            <div class="d-flex flex-column-6 pl-3">
                <div class="card card-body shadow p-3 mb-5 bg-white-rounded border-success h-100">
                    <h4>Short Term Goals</h4>
                    <hr>
                    <p>
                        Be happier, I'm getting older and so is everyone else in my life, no matter how busy I get I want to prioritize those moments before the people that matter to me leave this world we call home. 
                    </p>
                    <p>
						Deploy a mobile game on the App Store and Google Play Store, I've always wanted to make a game and I think it's time to make that dream a reality.
                    </p>
                </div>
            </div>
            <br>
        </div>
        <br>
        <br>
    </div>
</body>

{% endblock content %}
