{% extends 'blogs/base.html'%}
{% load static %}

{% block content %}
<body>
    <title>Justin Esguerra</title>
    <link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
    <br>
    
    <div class="container">
        <div class="d-flex flex-row">
            <div class="d-flex flex-column-4 pr-3">
                <div class="card card-body shadow p-3 mb-5 bg-white-rounded h-100 border-success" id="profile-wrapper">
                    <br>
                    <img id="profile-pic"  class="shadow" src="{% static 'images/face1.jpg' %}">
                    <br>
                    <hr>
                    <br>
                    <h4><strong>Hey there, I'm Justin!</strong></h4>
					<p>I program things and those things help people...I think</p>                    
                </div>
            </div>

            <div class="d-flex flex-column-9 pl-3">
                <div class="card card-body shadow p-3 mb-5 bg-white-rounded h-100 border-success">
                    <h4>New phone who dis?</h4>
                    <hr>
                    <p>
					I build custom Odoo solutions professionally, and I'm an audacious dreamer in my free time. I'm a self-taught developer, and I've been programming for about 2 years now. I currently work with a consulting firm, Captivea, as an <strong>Odoo developer</strong> and <strong>Team Manager</strong>.
                    </p>
                    <br>
					<h4>Absolutely <strong>Cracked</strong> (Skills)</h4>
					<div class="row" >
						<img style="width:75px;height:75px;" src="{% static 'images/git_icon.png' %}"/>
						<img style="width:75px;height:75px;" src="{% static 'images/docker_icon.png' %}"/>
						<img style="width:75px;height:75px;" src="{% static 'images/postgres_icon.png' %}"/>
						<img style="width:75px;height:75px;" src="{% static 'images/python_icon.png' %}"/>
						<img style="width:75px;height:75px;" src="{% static 'images/neovim_icon.png' %}"/>
						<img style="width:75px;height:75px;" src="{% static 'images/js_icon.png' %}"/>
						<img style="width:75px;height:75px;" src="{% static 'images/html_icon.png' %}"/>
						<img style="width:75px;height:75px;" src="{% static 'images/css_icon.png' %}"/>
					</div>
					<hr>

                    <ul class="social-links">
                        <a href="https://www.linkedin.com/in/justin-kieran-esguerra/">
                        <li><img class="social" src="{% static 'images/linkedin.jpg' %}"</li>
                        </a>
                        <a href="https://github.com/captivea-jeu">
                        <li><img class="social" src="{% static 'images/Github.jpeg' %}"</li>
                        </a>
                        <a href="https://www.youtube.com/channel/UCnKYLCq2DxxRLo6fjWJVQlg">
                        <li><img class="social" src="{% static 'images/youtube.jpg' %}"</li>
                        </a>
                        <a href="https://github.com/resilliance">
                        <li><img class="social" src="{% static 'images/Github.jpeg' %}"</li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="d-flex flex-row">
            <div class="d-flex flex-column-6 pr-3">
                <div class="card card-body shadow p-3 mb-5 bg-white-rounded border-info h-100">
                    <style>
                        .grow { transition: all .2s ease-in-out; }
                        .grow:hover { transform: scale(1.1); }
                    </style>
                    <h4>Experience/Projects 👨🏻‍💻</h4>
                    <hr>
                    <a class="btn btn-success grow shadow" href="{% url 'recycpal'%}" role="button">RecycPal (AI Recycling App)</a>
                    <br>
                    <a class="btn btn-secondary grow shadow" href="{% url 'pharmeasy'%}" role="button">PharmEasy (Pharmacy System Software)</a>
                    <br>
                    <a class="btn btn-primary grow shadow" href="{% url 'valleyball'%}" role="button">Volleyball Counter</a>
                    <br>
                    <a class="btn btn-info grow shadow" href="{% url 'soildrencher'%}" role="button">Soil Drencher (Automated Plant Watering)</a>
                </div>
            </div>

            <div class="d-flex flex-column-6 pl-3">
                <div class="card card-body shadow p-3 mb-5 bg-white-rounded border-warning h-100">
					<h4>But how <strong>E P I C</strong> are you?</h4> 
                    <hr>
					<p>My mom says I'm pretty epic, but I think she's a little bias. So here's some things not on my resume that I've done.</p>
					<p>
					Integrating C++ into Odoo via custom modules to handle the processing of large data sets. 
					</p>
					<p>
					Implement Odoo's tours to <strong>automate testing</strong> for python code/business logic and UI/UX.
					</p>
					<p>
					Deliver internal talks about deployment of Odoo on docker containers and how to manage multiple docker containers within a given server.
					</p>
					<p>
					Navigate a large codebase to efficiently debug, fix issues, and <strong>bend the software to the client's will.</strong>
					</p>
                </div>
            </div>

        </div>
        <br>
        <div class="d-flex flex-row">
            <div class="d-flex flex-column-6 pr-3">
                <div class="card card-body shadow p-3 mb-5 bg-white-rounded border-danger h-100">
                    <h4>What am I currently working on 🤓</h4>
                    <hr>
					<p>
					When I'm not drowning in work, I try to work on defining my business model for my freshly formed LLC, Napkin Software.
					</p>
					<p>
					I'm also trying to learn more about C++, Rust, and VR for game development, but honestly there's just not enough hours in the day to do everything!
					</p>
                </div>
            </div>

            <div class="d-flex flex-column-6 pl-3">
                <div class="card card-body shadow p-3 mb-5 bg-white-rounded border-success h-100">
                    <h4>Short Term Goals 🐰</h4>
                    <hr>
                    <p>
                        Be happier 😌 I'm getting older and so is everyone else in my life, no matter how busy I get I want to prioritize those moments before the people that matter to me leave this 
                        world we call home. 
                    </p>
                    <p>
					That doesn't mean I forgot how to sweat and be tenacious when it comes to my goals. I want to be a better developer, and I want to be a better leader. <strong>I want to be a better person.</strong>
                    </p>
                </div>
            </div>
            <br>
        </div>
        <br>
        <br>
    </div>
</body>

{% endblock content %}
