{% extends 'blogs/base.html'%}
{% load static %}

{% block content %}
<body>
    <title>Justin Esguerra</title>
    <link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
    <br>
    
    <div class="container">
        <div class="d-flex flex-row">
            <div class="d-flex flex-column-3 pr-3">
                <div class="card card-body shadow p-3 mb-5 bg-white-rounded h-100 border-success" id="profile-wrapper">
                    <br>
                    <img id="profile-pic" class="shadow" src="{% static 'images/face1.jpg' %}">
                    <br>
                    <hr>
                    <br>
                    <h4><strong>Hey there, I'm Justin!</strong></h4>
                    <p>I love coding so much that I eat, breath, and sleep development.</p>                    
                </div>
            </div>

            <div class="d-flex flex-column-9 pl-3">
                <div class="card card-body shadow p-3 mb-5 bg-white-rounded h-100 border-success">
                    <h4>My journey thus far</h4>
                    <hr>
                    <p>I started out of highschool becoming a pharmacy technician. Honestly, I thought I was going to end up in healthcare.
                        Only until I got deeper into the field and into the classes did I realize, that my heart wasn't in healthcare.
                        My engineering journey started with a 3D printer and a dream to make a prosthetic hand, from there I wanted to integrate hardware so I ended up looking into Arduino and micro controllers.
                         </p>

                    <p>I learned C/C++ primarily to control motors, sensors, and LEDs with the Arduino. Through all the headaches that come with learning programming, I felt a sense of fulfillment that was new to me.
                        One project led to another, and I found myself meeting friends that loved programming and building projects as much as I did and I started to pick up Python, Django, Swift, Java, etc.
                        Now I'm getting to a point where I have the confidence that I can build this website by myself and show off my code on GitHub!
                    </p>

                    <p>I'm still working on this website and deploying my other projects, but I hope you enjoy your look around my little cyber home 😁 </p>
                    <ul class="social-links">
                        <a href="https://www.linkedin.com/in/justin-kieran-esguerra/">
                        <li><img class="social" src="{% static 'images/linkedin.jpg' %}"</li>
                        </a>
                        <a href="https://www.youtube.com/channel/UCnKYLCq2DxxRLo6fjWJVQlg">
                        <li><img class="social" src="{% static 'images/youtube.jpg' %}"</li>
                        </a>
                        <a href="https://github.com/resilliance">
                        <li><img class="social" src="{% static 'images/Github.jpeg' %}"</li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="d-flex flex-row">
            <div class="d-flex flex-column-6 pr-3">
                <div class="card card-body shadow p-3 mb-5 bg-white-rounded border-info h-100">
                    <h4>Experience/Projects 👨🏻‍💻</h4>
                    <hr>
                    <a class="btn btn-success" href="{% url 'projects'%}" role="button">RecycPal (AI Recycling App)</a>
                    <br>
                    <a class="btn btn-secondary" href="{% url 'projects'%}" role="button">PharmEasy (Pharmacy System Software)</a>
                    <br>
                    <a class="btn btn-primary" href="projects" role="button">Volleyball Counter</a>
                    <br>
                    <a class="btn btn-danger" href="projects" role="button">Mycelium Mania (Material Engineering)</a>
                    <br>
                    <a class="btn btn-warning" href="projects" role="button">EnterReality (Text Based Adventure Game)</a>
                    <br>
                    <a class="btn btn-info" href="projects" role="button">Portfolio Website (This Website!)</a>
                </div>
            </div>

            <div class="d-flex flex-column-6 pl-3">
                <div class="card card-body shadow p-3 mb-5 bg-white-rounded border-warning h-100">
                    <h4>What Can I Do 🤔</h4> 
                    <hr>
                    <p>Train and deploy an image classifier into an iOS application (Swift, RecycPal).</p>
                    <p>Operate motors, sensors, and micro controllers like Arduino or ESP8266 (C++/HTML, Mycelium Mania).</p>
                    <p>Train an object detection model, currently learning how to deploy it (Python/YOLOv5, RecycPal).</p>
                    <p>Create an SQL database and normalize the ERD (PharmEasy).</p>
                    <p>Develop and deploy a text based adventure game into an .exe (MOTAdventure/EnterReality).</p>
                    <p>Make and deploy a Django based website! (This website 👀)</p>
                </div>
            </div>

        </div>
        <br>
        <div class="d-flex flex-row">
            <div class="d-flex flex-column-6 pr-3">
                <div class="card card-body shadow p-3 mb-5 bg-white-rounded border-danger h-100">
                    <h4>How I Taught Myself 🤓</h4>
                    <hr>
                    <p>I've found that I learn less efficiently in the classroom, not to say that I can't operate well in one.
                        I personally find it more effective and ingraining whenever I do my 'learning' by doing. 
                        All of my projects posted and unposted have contributed to my knowledge in software development.
                    </p>
                    <p> With that being said, I induldged myself into
                        development articles, forums, YouTube tutorials, and immense amounts of Google searches. All in the sake of trying to
                        progress my projects.
                    </p>
                </div>
            </div>

            <div class="d-flex flex-column-6 pl-3">
                <div class="card card-body shadow p-3 mb-5 bg-white-rounded border-success h-100">
                    <h4>Short Term Goals 🐰</h4>
                    <hr>
                    <p>Land my first software engineering position! Mainly because, I know that when I become an engineer I can look my parents
                        in the eyes and tell them "You can rest". I can't say that's only thing on my mind though!
                    </p>
                    <p>
                        Deploying RecycPal on both Web and iOS is definitely up there on my list. Also deploying and testing the database for
                        PharmEasy, porting an AI onto a microcontroller, and maybe lose a couple pounds 😅
                    </p>
                </div>
            </div>
            <br>
        </div>
        <br>
        <br>
    </div>
</body>

{% endblock content %}