{%extends 'blogs/base.html'%}
{% load static %}

{% block content %}

<body>
    <link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
    
    <br>
    <div class="container">
        <div class="d-flex flex-row">
            <div class="col-md-4 pr-3">
                <div class="card card-body shadow p-3 mb-5 bg-white-rounded h-100 border-success" id="profile-wrapper">
                    <img class="shadow img-thumbnail" src="{% static 'images/recycpal.png'%}">
                    <hr>
                    <h4>RecycPal</h4>
                    <p>Mobile AI Recycler</p>
                    <p>An artificial intelligence model that identifies recycled objects</p>
                    <a href="{% url 'recycpal' %}" class="stretched-link"></a>

                </div>
                
            </div>
            <div class="col-md-4 pl-3 pr-3">
                <div class="card card-body shadow p-3 mb-5 bg-white-rounded h-100 border-success" id="profile-wrapper">
                    <img class="shadow img-thumbnail" src="{% static 'images/PharmEasy.svg'%}">
                    <hr>
                    <h4>PharmEasy</h4>
                    <p>Retail Pharmacy Management System</p>
                    <p>I love coding so much that I eat, breath, and sleep development.</p>
                    <a href="{% url 'pharmeasy' %}" class="stretched-link"></a>
                </div>
                
            </div>
            <div class="col-md-4 pl-3">
                <div class="card card-body shadow p-3 mb-5 bg-white-rounded h-100 border-success" id="profile-wrapper">
                    <img class="shadow img-thumbnail" src="{% static 'images/volley.png'%}">
                    <hr>
                    <h4>ValleyBall</h4>
                    <p>Volleyball Practice Counter</p>
                    <p>I love coding so much that I eat, breath, and sleep development.</p>
                    <a href="{% url 'valleyball' %}" class="stretched-link"></a>
                </div>
                
            </div>
        </div>
        <br>
        <div class="d-flex flex-row">
            <div class="col-md-4 pr-3">
                <div class="card card-body shadow p-3 mb-5 bg-white-rounded h-100 border-success" id="profile-wrapper">
                    <img class="shadow img-thumbnail" src="{% static 'images/mmTest.png'%}" width="750" height="719">
                    <hr>
                    <h4>Mycelium Mania</h4>
                    <p>Environment Monitoring and Material Science</p>
                    <p>An attempt to grow and create a biomaterial replacement to cardboard.</p>
                    <a href="{% url 'mycelium' %}" class="stretched-link"></a>
                </div>
                
            </div>
            <div class="col-md-4 pl-3 pr-3">
                <div class="card card-body shadow p-3 mb-5 bg-white-rounded h-100 border-success" id="profile-wrapper">
                    <img class="shadow img-thumbnail" src="{% static 'images/matrix.jpeg'%}">
                    <hr>
                    <h4>EnterReality</h4>
                    <p>Test Based Adventure Game</p>
                    <p>Initially made for an interview, but now becoming a full game!</p>
                    <a href="{% url 'enterreality' %}" class="stretched-link"></a>
                </div>
                
            </div>
            <div class="col-md-4 pl-3">
                <div class="card card-body shadow p-3 mb-5 bg-white-rounded h-100 border-success" id="profile-wrapper">
                    <img class="shadow img-thumbnail" src="{% static 'images/SoilDr.svg'%}">
                    <hr>
                    <h4>Soil Drencher</h4>
                    <p>Soil Humidity Detection</p>
                    <p>I love coding so much that I eat, breath, and sleep development.</p>
                    <a href="{% url 'soildrencher' %}" class="stretched-link"></a>
                </div>
                
            </div>
        </div>
    </div>

</body>

{% endblock content %}
